#header{
   .header_container{
      display: flex;
      justify-content: center;
      padding-top: 2vw;

      .header_link{
         cursor: pointer;
         font-family: 'Montserrat600';
         font-style: normal;
         font-size: 14px;
         line-height: 17px;
         text-align: center;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         color: #CFD2D5;
         margin: 0 2vw;
         transition: all .5s ease;

         &:hover{
            transform: scale(1.1);
            color: #FFBC15;
         }
      }
   }
}