#ourValues{


   .ourValues-container{
      padding: 5vw 15vw;
      width: 100%;
      background: #0F1D2B;
      display: flex;
      justify-content: center;
      flex-direction: column;

      @media screen and (max-width: 600px){
         padding: 40px 40px;
      }
      @media screen and (max-width: 450px){
         padding: 20px 20px;
      }

      .ourValuesTitle{
         margin-bottom: 3rem;

         @media screen and (max-width: 1220px){
            margin-bottom: 2rem;
         }
         @media screen and (max-width: 1024px){
            margin-bottom: 1.5rem;
         }

         h1{
            display: flex;
            justify-content: center;
            font-family: 'Montserrat800';
            font-style: normal;
            font-size: 60px;
            line-height: 73px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;

            @media screen and (max-width: 1440px){
               font-size: 54px;
            }
            @media screen and (max-width: 1220px){
               font-size: 50px;
            }
            @media screen and (max-width: 1024px){
               font-size: 44px;
            }
            @media screen and (max-width: 768px){
               font-size: 38px;
            }
            @media screen and (max-width: 600px){
               font-size: 37px;
               line-height: 45px;
               margin-top: 4vw;
            }
            @media screen and (max-width: 375px){
               font-size: 30px;
               line-height: 40px;
               margin-top: 4vw;
            }
         }
      }

      .ourValues-blocks{
         width: 100%;
         display: flex;
         align-items: flex-start;
         justify-content: space-between;

         @media screen and (max-width: 1024px){
            flex-direction: column;
            align-items: center;
         }

         .block1{
            width: 30%;

            @media screen and (max-width: 1024px){
               width: 100%;
            }
            @media screen and (max-width: 600px){
               margin-bottom: 13px;
            }

            .desc{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            @media screen and (max-width: 1220px){
               margin-bottom: .7rem;
            }
            @media screen and (max-width: 1024px){
               margin-bottom: .5rem;
            }
            

            img{
               margin-right: 1rem;
               width: 3vw;

               @media screen and (max-width: 1220px){
                  width: 3vw;
                  margin-right: .7rem;
               }
               @media screen and (max-width: 600px){
                  width: 6.5vw;
                  margin-right: .7rem;
               }
            }

            h2{
               font-family: 'Montserrat800';
               font-style: normal;
               font-size: 30px;
               line-height: 37px;
               text-align: center;
               text-transform: uppercase;
               color: #FFFFFF;
               margin-bottom: 0;

               @media screen and (max-width: 1440px){
                  font-size: 26px;
                  line-height: 32px;
               }
               @media screen and (max-width: 1220px){
                  font-size: 22px;
                  line-height: 30px;
               }
               @media screen and (max-width: 768px){
                  font-size: 20px;
               }
               @media screen and (max-width: 600px){
                  font-family: 'Montserrat700';
                  font-size: 23px;
                  line-height: 28px;
               }
               @media screen and (max-width: 375px){
                  font-family: 'Montserrat700';
                  font-size: 20px;
                  line-height: 25px;
               }
            }
            }

            p{
               font-family: 'Montserrat400';
               font-style: normal;
               font-size: 18px;
               line-height: 163.9%;
               color: #FFFFFF;
               opacity: 0.7;
               
               @media screen and (max-width: 1440px){
                  font-size: 16px;
                  line-height: 133.9%;
               }
               @media screen and (max-width: 1220px){
                  font-size: 14px;
               }
               @media screen and (max-width: 1024px){
                  margin-bottom: 1.6rem;
               }
               @media screen and (max-width: 768px){
                  font-size: 12px;
               }
               @media screen and (max-width: 600px){
                  font-size: 15px;
                  line-height: 180%;
               }
               @media screen and (max-width: 375px){
                  font-size: 13px;
                  line-height: 170%;
               }
            }
         }

         .block2{
            width: 30%;

            @media screen and (max-width: 1024px){
               width: 100%;
            }
            @media screen and (max-width: 600px){
               margin-bottom: 13px;
            }

            .desc{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            @media screen and (max-width: 1220px){
               margin-bottom: .7rem;
            }
            @media screen and (max-width: 1024px){
               margin-bottom: .5rem;
            }
            

            img{
               margin-right: 1rem;
               width: 4vw;

               @media screen and (max-width: 1220px){
                  width: 4vw;
                  margin-right: .7rem;
               }
               @media screen and (max-width: 600px){
                  width: 8vw;
                  margin-right: .7rem;
               }
            }

            h2{
               font-family: 'Montserrat800';
               font-style: normal;
               font-size: 30px;
               line-height: 37px;
               text-align: center;
               text-transform: uppercase;
               color: #FFFFFF;
               margin-bottom: 0;

               @media screen and (max-width: 1440px){
                  font-size: 26px;
                  line-height: 32px;
               }
               @media screen and (max-width: 1220px){
                  font-size: 22px;
                  line-height: 30px;
               }
               @media screen and (max-width: 768px){
                  font-size: 20px;
               }
               @media screen and (max-width: 600px){
                  font-family: 'Montserrat700';
                  font-size: 23px;
                  line-height: 28px;
               }
               @media screen and (max-width: 375px){
                  font-family: 'Montserrat700';
                  font-size: 20px;
                  line-height: 25px;
               }
            }

            }

            p{
               font-family: 'Montserrat400';
               font-style: normal;
               font-size: 18px;
               line-height: 163.9%;
               color: #FFFFFF;
               opacity: 0.7;
               
               @media screen and (max-width: 1440px){
                  font-size: 15px;
                  line-height: 133.9%;
               }
               @media screen and (max-width: 1220px){
                  font-size: 14px;
               }
               @media screen and (max-width: 1024px){
                  margin-bottom: 1.6rem;
               }
               @media screen and (max-width: 768px){
                  font-size: 12px;
               }
               @media screen and (max-width: 600px){
                  font-size: 15px;
                  line-height: 180%;
               }
               @media screen and (max-width: 375px){
                  font-size: 13px;
                  line-height: 170%;
               }
            }
         }

         .block3{
            width: 30%;

            @media screen and (max-width: 1024px){
               width: 100%;
            }

            .desc{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            @media screen and (max-width: 1220px){
               margin-bottom: .7rem;
            }
            @media screen and (max-width: 1024px){
               margin-bottom: .5rem;
            }

            img{
               margin-right: 1rem;
               width: 3vw;

               @media screen and (max-width: 1220px){
                  width: 3.5vw;
                  margin-right: .7rem;
               }
               @media screen and (max-width: 600px){
                  width: 8vw;
                  margin-right: .7rem;
               }
            }

            h2{
               font-family: 'Montserrat800';
               font-style: normal;
               font-size: 30px;
               line-height: 37px;
               text-align: center;
               text-transform: uppercase;
               color: #FFFFFF;
               margin-bottom: 0;

               @media screen and (max-width: 1440px){
                  font-size: 26px;
                  line-height: 32px;
               }
               @media screen and (max-width: 1220px){
                  font-size: 22px;
                  line-height: 30px;
               }
               @media screen and (max-width: 768px){
                  font-size: 20px;
               }
               @media screen and (max-width: 600px){
                  font-family: 'Montserrat700';
                  font-size: 23px;
                  line-height: 28px;
               }
               @media screen and (max-width: 375px){
                  font-family: 'Montserrat700';
                  font-size: 20px;
                  line-height: 25px;
               }
            }
            
            }

            p{
               font-family: 'Montserrat400';
               font-style: normal;
               font-size: 18px;
               line-height: 163.9%;
               color: #FFFFFF;
               opacity: 0.7;

               @media screen and (max-width: 1440px){
                  font-size: 16px;
                  line-height: 133.9%;
               }
               @media screen and (max-width: 1220px){
                  font-size: 14px;
               }
               @media screen and (max-width: 1024px){
                  margin-bottom: 1.6rem;
               }
               @media screen and (max-width: 768px){
                  font-size: 12px;
               }
               @media screen and (max-width: 600px){
                  font-size: 15px;
                  line-height: 180%;
               }
               @media screen and (max-width: 375px){
                  font-size: 13px;
                  line-height: 170%;
               }
            }
         }
      }
   }
   
}