.loaderWrapp {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  height: 100%;
  position: absolute;
}
.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  animation: spin 2s linear infinite;
}
