.reviews_container {
  margin-bottom: 7vw;

  @media screen and(max-width: 768px) {
    margin-bottom: 12vw;
  }
  @media screen and(max-width: 425px) {
    margin-bottom: 15vw;
  }

  .reviews_title {
    font-family:    'Montserrat800', sans-serif;
    font-style:     normal;
    font-size:      60px;
    line-height:    73px;
    text-align:     center;
    text-transform: uppercase;
    color:          #FFFFFF;
    margin-bottom:  4vw;

    @media screen and(max-width: 1200px) {
      font-size: 55px;
    }
    @media screen and(max-width: 1024px) {
      font-size: 50px;
    }
    @media screen and(max-width: 900px) {
      font-size:     44px;
      margin-bottom: 3vw;
    }
    @media screen and(max-width: 768px) {
      font-size:   40px;
      line-height: 53px;
    }
    @media screen and(max-width: 600px) {
      font-size: 36px;
    }
    @media screen and(max-width: 450px) {
      font-size:     30px;
      line-height:   33px;
      margin-bottom: 7vw;
    }
  }

  .reviews_slider {
    position: relative;
    :global {
      .slick-slide {
        .slider_content {
          padding:       28px;
          background:    transparent;
          border-radius: 20px;
          border:        2px solid #FFBC15;
          @media screen and(max-width: 567px) {
            border-radius: 15px;
            padding:       16px;
          }
        }
        &:nth-child(2n) {
          .slider_content {
            border: 2px solid #10A6F9;
          }
        }
      }
    }
    .slider_wrapp {
      padding: 0 24px;
      @media screen and(max-width: 567px) {
        padding: 0 8px;
      }
      p {
        font-size: 18px;
        @media screen and(max-width: 567px) {
          font-size: 14px;
        }
      }
      h6 {
        margin-top:    20px;
        font-size:     14px;
        font-style:    italic;
        text-align:    right;
        margin-bottom: 0;
      }
    }
  }
}
