.section-title {
  .section-name {
    color: #fff;
    font-family: "Montserrat800";
    font-style: normal;
    font-size: 71.5069px;
    line-height: 87px;

    @media screen and (max-width: 1250px){
      font-size: 62px;
      line-height: 77px;
    }
    @media screen and (max-width: 1024px){
      font-size: 52px;
      line-height: 67px;
    }
    @media screen and (max-width: 600px){
      font-size: 44px;
      line-height: 57px;
    }
    @media screen and (max-width: 375px){
      font-size: 40px;
    }
  }

  p{
    font-family: "Montserrat400";
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.7;

    @media screen and (max-width: 1250px){
      font-size: 14px;
      line-height: 155%;
    }
    @media screen and (max-width: 1024px){
      font-size: 12px;
    }
    @media screen and (max-width: 600px){
      font-size: 11px;
      line-height: 150%;
    }
  }
}
