@import "../../../styles/colors.scss";

.header {
  background-color: $blue;
  text-align: center;
  padding: 3vh;
  color: $white;
  font-family: "Montserrat600";
  display: flex;
  justify-content: center;
  align-items: center;
  
  h2{
  font-size: 3.3vw;
  margin-bottom: 0;
  flex-grow: 1;
  }
  .popup_close{
    display: flex;

      img{
        width: 2vw;
        height: 2vw;

        @media screen and(max-width: 425px){
          width: 4vw;
          height: 4vw;
        }
      }
  }

  @media screen and(max-width: 768px){
    h2{
    font-size: 1.1rem;
    }
  }
}

.body {
  padding: 4vh;
}
