.hero {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero_container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2vw 15vw;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-height: 800px;
    width: 100%;

    @media screen and (max-width: 1024px) {
      padding: 2vw 12vw;
      height: 80%;
    }

    @media screen and (max-width: 610px) {
      padding: 2vw 9vw;
    }

    @media screen and (max-width: 500px) {
      padding: 2vw 4vw;
    }

    @media screen and (max-width: 375px) {
      padding: 2vw 4vw;
    }


    .hero_abs {
      position: absolute;
      top: 14vh;
      right: 65vh;
      display: flex;

      @media screen and (max-width: 1024px) {
        top: 6vh;
        right: 55vh;
      }

      .hero_abs_text {
        padding: 10px 14px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        p,
        h2 {
          margin: 0;
          font-family: 'Montserrat400';
          font-size: 16.5772px;
          line-height: 126%;
          color: #FFFFFF;
        }

        .hero-text {
          margin-top: 2vh;
          text-align: center;
          max-width: 70%;

          @media screen and (max-width: 600px) {
            max-width: 100%;
          }

          @media screen and (max-width: 375px) {
            margin-top: 4vh;
          }

          h1 {
            font-family: "Montserrat800";
            font-weight: 100;
            // font-size: 5.715rem;
            font-size: 8.5vw;
            line-height: 10vw;
            color: #ffffff;

            @media screen and (max-width: 900px) {
              font-size: 7vw;
            }

            @media screen and (max-width: 600px) {
              font-size: 45px;
              line-height: 55px;
            }

          }

          h2 {
            font-family: "Montserrat700";
            // max-width: 70%;
            margin: 0 auto;
            font-weight: bold;
            font-size: 2.5vw;
            line-height: 53px;
            letter-spacing: 1px;
            color: #ffffff;

            @media screen and (max-width: 1024px) {
              line-height: 33px;
            }

            @media screen and (max-width: 900px) {
              font-size: 22px;
              line-height: 33px;
            }

            @media screen and (max-width: 600px) {
              font-size: 20px;
              line-height: 130%;
            }

            // @media screen and (max-width: 375px){
            //   font-size: 16px;
            //   line-height: 21px;
            // }

            span:first-of-type {
              color: #ffbc15;
            }

            span:last-of-type {
              color: #10a6f9;
            }
          }

          p {
            font-family: "Montserrat400";
            margin-top: 1.5rem;
            font-size: 1.6vw;
            line-height: 23px;
            letter-spacing: 0.03em;
            color: #ffffff;

            @media screen and (max-width: 600px) {
              font-size: 14px;
              margin: 3.5vw auto;
              line-height: 154%;
            }

            // @media screen and (max-width: 375px){
            //   font-size: 3vw;
            //   line-height: 14px;
            // }

            span {
              font-family: "Montserrat700";
              font-weight: bold;
              color: #ffffff;
            }
          }

          // p:last-of-type{
          //   letter-spacing: 0.02em;
          //   color: #aaaaaa;
          // }
        }
      }

      .hero_abs_line {
        height: 100px;
        right: -55px;
        top: 25px;
        position: absolute;

        img {
          height: 100%;
        }
      }
    }

    .hero_text {

      .hero_title {

        h1 {
          margin-bottom: 3px;
          font-family: "Montserrat700";
          font-size: 3vw;
          color: #FFFFFF;

          span:first-of-type {
            padding: .3vw 1vw;
            background-color: #10A6F9;
            color: #0F1D2B;
          }

          span:last-of-type {
            padding: .3vw 1vw;
            background-color: #FFBC15;
            color: #0F1D2B;
          }
        }
      }

      p {
        width: 80%;
        margin: 20px 0 40px 0;
        font-family: "Montserrat700";
        font-size: 1vw;
        color: #FFFFFF;

      }
    }
  }
}