.slider-area {
  .slider-activator {
    position: relative;
    height: 100vh;

    .container-slider {
      z-index: 2;
      height: 100%;
      width: 100%;
      // padding: 10vw; 

      .content-hero {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .hero-logo {
          // margin-top: 7vw;
          display: flex;
          justify-content: center;

          img {
            width: 65%;
          }
        }

        .hero-text {
          margin-top: 5vh;
          text-align: center;

          h1 {
            font-family: "Montserrat800";
            font-weight: 100;
            font-size: 91.4373px;
            line-height: 111px;
            color: #ffffff;
          }
          h2 {
            font-family: "Montserrat700";
            max-width: 70%;
            margin: 0 auto;
            font-weight: bold;
            font-size: 35.2123px;
            line-height: 43px;
            color: #ffffff;

            span {
              color: #ffbc15;
            }
          }
          p {
            font-family: "Montserrat400";
            margin-top: 1.5rem;
            font-size: 19px;
            line-height: 23px;
            letter-spacing: 0.03em;
            color: #ffffff;

            span {
              font-family: "Montserrat700";
              font-weight: bold;
              color: #ffffff;
            }
          }
        }

        .hero-progress {
          font-family: "Montserrat800";
          width: 100%;
          margin-top: 15vh;

          #myProgress {
            width: 40%;
            background-color: rgb(160, 157, 157);
            margin: 0 auto;
            position: relative;

            .thirty-circle {
              width: 14px;
              height: 15px;
              background: rgb(160, 157, 157);
              border-radius: 26px;
              position: absolute;
              right: 0;
              top: -6px;
            }
            .thirty-price {
              position: absolute;
              top: -45px;
              right: -40px;
              font-size: 20.2116px;
              line-height: 25px;
              text-align: center;
              color: #ffffff;
            }
          }

          #myBar {
            width: 70%;
            height: 3px;
            background-color: #ffbc15;
            position: relative;

            .first-price {
              position: absolute;
              top: -45px;
              left: 0px;
              font-size: 20.2116px;
              line-height: 25px;
              text-align: center;
              color: #ffffff;
            }
            .second-price {
              position: absolute;
              top: -45px;
              right: -30px;
              font-size: 20.2116px;
              line-height: 25px;
              text-align: center;
              color: #ffffff;
            }

            .first-circle {
              width: 14px;
              height: 15px;
              background: #ffbc15;
              border-radius: 26px;
              position: absolute;
              left: 0;
              top: -6px;
            }

            .second-circle {
              width: 22px;
              height: 23px;
              background: #ffbc15;
              border-radius: 26px;
              position: absolute;
              right: 0;
              top: -10px;
              box-shadow: 0px 5px 30px #ffbc15;
            }
          }
        }

        .hero-buttons {
          // margin-bottom: 10vw;
          margin-top: 9vh;
          display: flex;
        }

        div {
          div {
            .inputPay {
              background: unset;
              font: inherit;
              box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
              border: 0;
              border: 2px solid #10a6f9;
              outline: 0;
              color: #fff;
              border-radius: 16px;
              padding: 11px 15px;
            }
          }
        }
      }
    }

    .hero-slider {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -2;

      div {
        height: 100%;
      }

      .container_back_photo {
        position: relative;
        height: 100vh;

        .wrapp_back_photo {
          position: absolute;
          width: 100%;
          height: 100%;

          .under_back_photo {
            position: absolute;
            height: 100%;
            width: 100%;
            background: radial-gradient(
                92.07% 50% at 50% 50%,
                rgba(15, 29, 43, 0.28) 0%,
                #0f1d2b 100%
              ),
              rgba(15, 29, 43, 0.56);
          }
          .back_photo {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
