.details_container {
   padding: 2vw 15vw;


   .details_title_wrapper {
      text-align: center;

      .details_title {

         font-family: 'Montserrat700';
         font-size: 54.2469px;
         line-height: 130.2%;
         display: flex;
         justify-content: center;
         margin-bottom: 15px;

         span {
            color: #fff;
         }

         span:first-of-type {
            background-color: #FFBC15;
            color: #0F1D2B;
            padding: 3px 15px;
         }
      }

      p {
         font-family: 'Montserrat400';
         font-size: 22px;
         line-height: 160%;
         text-align: center;
         color: #FFFFFF;
         margin-bottom: 0;
      }

      h2 {
         font-size: 22px;
         line-height: 160%;
         color: #10A6F9;
         text-transform: uppercase;
      }
   }

   .details_blocks {
      display: flex;
      margin-top: 50px;

      .details_block {
         margin: 0 7.5px;
         width: 100%;
         background: #142B42;
         border-radius: 15px;
         display: flex;
         align-items: center;
         padding: 22px 25px;

         img {
            height: 55px;
            margin-right: 20px;
         }

         .details_block_img {
            margin: 5;
         }

         .details_paypal_block_text {

            h2,
            p {
               margin-bottom: 0;
               font-family: 'Montserrat400';
               font-size: 1.3vw;
               line-height: 140%;
               color: #FFFFFF;
            }

            p {
               margin-top: 5px;
               color: #10A6F9;
               cursor: pointer;
               transition: all .3s ease;
               display: flex;
               align-items: center;

               &:hover {
                  transform: scale(1.02);
                  transition: all .3s ease;
               }

               img {
                  margin-left: 5px;
                  width: 12px;
                  height: 12px;
                  opacity: .3;
               }
            }
         }
      }
   }
}