#ourMission{


   .ourMission-container{
      padding: 5vw 15vw;
      width: 100%;
      background: #0F1D2B;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 768px){
         flex-direction: column;
      }
      @media screen and (max-width: 600px){
         padding: 55px 40px;
      }
      @media screen and (max-width: 450px){
         padding: 45px 20px;
      }

      .first-two-block{
         margin-right: 1rem;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;

         @media screen and (max-width: 768px){
            margin-right: 0;
            margin-bottom: 4vw;
         }

         .ourMission-block{
            position: relative;
            border: 2px solid #10A6F9;
            border-radius: 7.5%;

            @media screen and (max-width: 425px){
               border-radius: 9%;
         }

            &:hover{
               // overflow: hidden;
            }

            

            img:first-of-type, img:last-of-type{
               width: 100%;
               height: 100%;
               transition: transform .5s ease;
               border-radius: 24px;
            }
            img:first-of-type{
               display: block;
               @media screen and (max-width: 768px){
                  display: none;
               }
            }
            img:last-of-type{
               display: none;
               @media screen and (max-width: 768px){
                  display: block;
               }
            }
            img{
               &:hover{
                  transition: all .5s ease;
                  transform: scale(1.1);
               }
            }
            .ourMissionText{
                  position: absolute;
                  bottom: 2.5rem;
                  width: 80%;
                  left: 2.5rem;

                  @media screen and (max-width: 1400px){
                     bottom: 1.8rem;
                     left: 2rem;
                  }
                  @media screen and (max-width: 1024px){
                     bottom: 1.2rem;
                     left: 1.2rem;
                  }

               .ourMissionTitle{
                  font-family: 'Montserrat800';
                  font-size: 40px;
                  line-height: 61px;
                  text-align: start;
                  text-transform: uppercase;
                  color: #FFFFFF;

                  @media screen and (max-width: 1300px) {
                     font-size: 38px;
                     line-height: 56px;
                  }
                  @media screen and (max-width: 1024px){
                     font-size: 24px;
                     line-height: 36px;
                  }
                  @media screen and (max-width: 768px){
                     font-size: 34px;
                     line-height: 44px;
                  }
                  @media screen and (max-width: 600px){
                     font-size: 35px;
                     line-height: 40px;
                  }
               }
               .ourMissionDesc{
                  font-family: 'Montserrat400';
                  font-style: normal;
                  font-size: 18px;
                  line-height: 160%;
                  text-transform: capitalize;
                  color: #FFFFFF;

                  @media screen and (max-width: 1300px) {
                     font-size: 16px;
                  }
                  @media screen and (max-width: 1300px){
                     font-size: 12px;
                  }
                  @media screen and (max-width: 768px){
                     font-size: 14px;
                  }
                  @media screen and (max-width: 600px){
                     font-size: 15px;
                     margin-top: 3px;
                  }
                  @media screen and (max-width: 600px){
                     font-size: 15px;
                     margin-top: 3px;
                  }

                  span{
                     font-family: 'Montserrat700';
                  }
               }
            }
         }

         .poem-block{
            display: flex;
            align-items: center;
            position: relative;
            border: 1px solid #10A6F9;
            border-radius: 25px;
            width: 100%;
            height: 100%;
            margin-top: 2rem;
            overflow: hidden;

            @media screen and (max-width: 768px){
               display: none;
               margin-top: 0;
            }

            .imageYellow{
               // height: 100%;
               // width: 100%;
               position: relative;
               left: -1px;
            }
            .triangle-right {
               position: absolute;
               width: 10vw;
               z-index: 0;
               height: 100%;
               background: #FFBC15;
               transform: skew(30deg) translate(-40px, 0px);
               -webkit-transform: skew(30deg) translate(-40px, 0px);
               -moz-transform: skew(30deg) translate(-40px, 0px);
               -o-transform: skew(30deg) translate(-40px, 0px);
            }
            .imageBible{
               z-index: 2;
               position: absolute;
               left: 0;
               top: 18%;
               width: 40%;

               @media screen and (max-width: 1400px) {
                  width: 35%;
               }
               @media screen and (max-width: 1024px){
                  width: 30%;
               }
            }

            .ourPoemText{
               width: 55%;
               position: absolute;
               // top: 15%;
               right: .8rem;
               font-family: 'Montserrat400';
               font-style: normal;
               font-size: 15px;
               line-height: 160%;
               color: #FFFFFF;

               @media screen and (max-width: 1400px) {
                  width: 60%;
                  // top: 17%;
               }
               @media screen and (max-width: 1300px) {
                  font-size: 12px;
               }
               @media screen and (max-width: 1024px){
                  font-size: 1vw;
                  width: 60%;
               }
            }
         }
      }

      .second-block{
         width: 100%;
         height: 100%;
         margin-left: 1rem;
         display: flex;
         align-items: center;
         justify-content: center;

         @media screen and (max-width: 768px){
            margin-left: 0;
         }


         .outAim{
            border: 2px solid #10A6F9;
            border-radius: 25px;
            position: relative;

            img{
               height: 100%;
               width: 100%;
               border-radius: 4%;

               @media screen and (max-width: 425px){
                  bottom: 1.8rem;
                  border-radius: 8%;
               }
            }

            .ourAimText{
                  position: absolute;
                  bottom: 2.5rem;
                  width: 80%;
                  left: 3rem;

                  @media screen and (max-width: 1400px){
                        bottom: 1.8rem;
                        left: 2rem;
                  }
                  @media screen and (max-width: 1024px){
                     bottom: 1.2rem;
                     left: 1.2rem;
               }

               .ourAimTitle{
                  font-family: 'Montserrat800';
                  font-size: 40px;
                  line-height: 61px;
                  text-align: start;
                  text-transform: uppercase;
                  color: #FFFFFF;

                  @media screen and (max-width: 1400px){
                     font-size: 33px;
                     line-height: 51px;
                  }
                  @media screen and (max-width: 1024px){
                     font-size: 24px;
                     line-height: 36px;
                  }
                  @media screen and (max-width: 768px){
                     font-size: 34px;
                     line-height: 44px;
                  }
                  @media screen and (max-width: 600px){
                     font-size: 35px;
                     line-height: 40px;
                  }
               }
               .ourAimDesc{
                  font-family: 'Montserrat400';
                  font-style: normal;
                  font-size: 18px;
                  line-height: 160%;
                  text-transform: capitalize;
                  color: #FFFFFF;

                  @media screen and (max-width: 1300px){
                     font-size: 16px;
                     line-height: 150%;
                  }
                  @media screen and (max-width: 1024px){
                     font-size: 12px;
                     line-height: 140%;
                  }
                  @media screen and (max-width: 768px){
                     font-size: 14px;
                  }
                  @media screen and (max-width: 600px){
                     font-size: 16px;
                     margin-top: 3px;
                  }
               }
            }
         }
      }
   }
   
}