.currentProject_container {
  padding: 4.5vw 15vw;
  :global {
    .slick-dots {
      max-width:          78px;
      overflow:           auto;
      margin:             0 auto;
      justify-content:    flex-start;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width:    none; /* for Firefox */
      &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
      li {
        position: relative;
        z-index: -1;
      }
    }
  }
  @media screen and (max-width: 600px) {
    margin:  70px 0;
    padding: 0 40px;
  }
  @media screen and (max-width: 425px) {
    margin:  70px 0;
    padding: 0 20px;
  }
  .projects-wrapper {
    margin-bottom: 3vw;
  }
  .currentProject_title {
    font-family:    'Montserrat800', sans-serif;
    font-style:     normal;
    font-size:      52px;
    line-height:    60px;
    text-align:     center;
    text-transform: uppercase;
    color:          #FFFFFF;
    margin-bottom:  3vw;

    @media screen and (max-width: 1024px) {
      font-size: 46px;
    }
    @media screen and (max-width: 900px) {
      font-size: 40px;
    }
    @media screen and (max-width: 900px) {
      font-size: 40px;
    }
    @media screen and (max-width: 650px) {
      font-size:   30px;
      line-height: 50px;
    }
    @media screen and (max-width: 600px) {
      font-size:   37px;
      line-height: 45px;
    }
    @media screen and (max-width: 374px) {
      font-size:   30px;
      line-height: 35px;
    }
  }

  .block-projects {
    margin:        20px 10px 0 10px;
    position:      relative;
    border:        2px solid #10A6F9;
    box-sizing:    border-box;
    border-radius: 25px;
    display:       flex;
    align-items:   center;
    padding:       40px;

    @media screen and (max-width: 1400px) {
      font-size:   49px;
      line-height: 58px;
    }
    @media screen and (max-width: 1024px) {
      padding: 35px;
      border:  1.5px solid #10A6F9;

    }
    @media screen and (max-width: 900px) {
      padding: 30px;
    }
    @media screen and (max-width: 768px) {
      padding: 20px;
    }
    @media screen and (max-width: 768px) {
      border:         1px solid #10A6F9;
      flex-direction: column;
    }

    .project-label {
      position: absolute;
      z-index:  2;
      left:     -14px;
      top:      -11px;
      width:    227px;
      @media screen and (max-width: 900px) {
        left: -11px;
        top:  -8px;
      }
      &.project-label-done {
        p {
          color: #fff;
        }
      }
      @media screen and (max-width: 900px) {
        width: 157px;
      }
      p {
        font-family:      "Montserrat800", sans-serif;
        text-transform:   uppercase;
        position:         absolute;
        left:             52%;
        top:              37%;
        color:            #0F1D2B;
        font-size:        22px;
        white-space:      nowrap;
        transform:        rotate(-43.5deg) translate(-50%, -50%);
        transform-origin: left center;
        @media screen and (max-width: 900px) {
          left:      54%;
          font-size: 14px;
        }
      }
      img {
        width: 100%;
      }
    }

    .background {
      width:        100%;
      height:       100%;
      position:     relative;
      margin-right: 3vw;

      @media screen and (max-width: 600px) {
        margin-right: 0;
      }

      img {
        border:          8px solid #fff;
        border-radius:   20px;
        height:          450px;
        object-fit:      cover;
        object-position: top center;
        @media screen and (max-width: 1440px) {
          height: 350px;
        }
        @media screen and (max-width: 1024px) {
          height: 250px;
        }
      }
      img:first-of-type {
        width: 95%;
      }

      img:last-of-type {
        width:    95%;
        position: absolute;
        top:      5%;
        z-index:  -1;
        left:     5%;
      }
    }

    .projects-content {
      justify-content: center;
      width:           100%;
      display:         flex;
      flex-direction:  column;
      align-items:     flex-start;
      margin-right:    3vw;

      @media screen and (max-width: 1300px) {
        margin-right: 1vw;
      }
      @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-top:   40px;
      }

      h1 {
        font-family:    'Montserrat800', sans-serif;
        font-style:     normal;
        font-size:      67px;
        line-height:    50px;
        text-transform: uppercase;
        color:          #FFFFFF;

        @media screen and (max-width: 1400px) {
          font-size:   49px;
          line-height: 48px;
        }
        @media screen and (max-width: 1300px) {
          font-size:   47px;
          line-height: 46px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 40px;

        }
        @media screen and (max-width: 900px) {
          font-size: 38px;
        }
        @media screen and (max-width: 768px) {
          margin-top:  5px;
          font-size:   37px;
          line-height: 45px;
        }
        @media screen and (max-width: 375px) {
          font-size:   33px;
          line-height: 40px;
        }
      }
      .current_progress {
        max-width:     400px;
        width:         100%;
        height:        3px;
        background:    #27AE60;
        margin:        12px 0 20px 0;
        position:      relative;
        border-radius: 100px;
        &:before, &:after {
          content:       '';
          position:      absolute;
          left:          0;
          top:           0;
          width:         15px;
          height:        15px;
          transform:     translate(-50%, calc(-50% + 2px));
          border-radius: 50%;
          background:    #27AE60;
        }
        &:after {
          left:            100%;
          width:           26px;
          height:          26px;
          box-shadow:      0 5px 30px #27AE60;
          background:      #27AE60 url("../../public/images/icons/checkbox.svg") no-repeat center center;
          background-size: 60%;
        }
      }
      .current_desc3 {
        span {
          color:       rgba(255, 255, 255, 1);
          font-family: 'Montserrat700', sans-serif;
        }
      }
      .current_desc_h2 {
        font-family:   'Montserrat700', sans-serif;
        font-style:    normal;
        font-size:     30px;
        line-height:   140%;
        color:         #fff;
        margin-bottom: 1vw;

        @media screen and (max-width: 1400px) {
          font-size:   22px;
          line-height: 135%;
        }
        @media screen and (max-width: 1300px) {
          font-size:   20px;
          line-height: 130%;
        }
        @media screen and (max-width: 1024px) {
          font-size:   18px;
          line-height: 125%;

        }
        @media screen and (max-width: 900px) {
          font-size: 16px;
        }
        @media screen and (max-width: 768px) {
          font-size:   16px;
          line-height: 140%;
        }
        @media screen and (max-width: 375px) {
          font-size:   14px;
          line-height: 130%;
        }

        span {
          color: #FFBC15;
        }
      }

      p {
        font-family: 'Montserrat400', sans-serif;
        font-style:  normal;
        font-size:   18px;
        line-height: 143.9%;
        color:       rgba(255, 255, 255, 0.7);

        @media screen and (max-width: 1300px) {
          font-size: 14px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 12px;
        }
        @media screen and (max-width: 900px) {
          font-size: 11px;
        }
        @media screen and (max-width: 768px) {
          font-size:   15px;
          line-height: 170%;
          margin-top:  1.5vw;
        }
        @media screen and (max-width: 375px) {
          font-size:   13px;
          line-height: 150%;
        }
      }

      .background_mobile {
        display:      none;
        width:        100%;
        height:       100%;
        position:     relative;
        margin-right: 3vw;

        @media screen and (max-width: 768px) {
          display: block;
        }

        img:first-of-type {
          width: 100%;
          // margin: 1.5vw;
        }

        img:last-of-type {
          width:    95%;
          position: absolute;
          top:      10%;
          z-index:  -1;
          left:     10%;
        }

      }

      .button-projects {
        display:    flex;
        margin-top: 1.8rem;
        .button_detail_wrapper {
          margin-right: 10px;
          div {
            margin-left: 0;
          }
        }

        @media screen and (max-width: 768px) {
          // height: 70px;
          justify-content: flex-start;
          margin-top:      15px;
          width:           100%;
          align-items:     center;

          div {
            width: 100%;
          }
          div:last-of-type {
            // margin-right: 5px;
          }

        }
        @media screen and (max-width: 375px) {
          flex-direction: column;

          div {
            width: 100%;
          }
          div:first-child {
            margin-right:  0;
            margin-bottom: 5px;
          }

        }

      }
    }
  }
  .wrapper_popup_details {
    width:  100%;
    height: 100%;

    .popup_detail_subtitle {
      font-family:   'Montserrat700', sans-serif;
      font-style:    normal;
      font-size:     18px;
      line-height:   160%;
      color:         #000000;
      width:         100%;
      margin-bottom: 0;

      @media screen and (max-width: 768px) {
        font-size:   16px;
        line-height: 150%;
      }
      @media screen and (max-width: 374px) {
        font-size:   13px;
        line-height: 21px;
      }
    }
    .detail_text_under_st {
      text-transform: none;
      margin-top:     20px;
      font-family:    'Montserrat500', sans-serif;
      font-style:     normal;
      font-size:      18px;
      line-height:    150%;
      color:          #000000;
      width:          100%;
      margin-bottom:  30px;
      opacity:        1;

      @media screen and (max-width: 768px) {
        font-size:   14px;
        line-height: 140%;
        margin-top:  20px;
      }
      @media screen and (max-width: 374px) {
        font-size:     12px;
        line-height:   21px;
        margin-top:    15px;
        margin-bottom: 15px;
      }

      span {
        font-family: 'Montserrat600', sans-serif;
        //display: none;
      }
    }

    .detail_list {

      padding-left: 1vw;

      li {
        display:     flex;
        position:    relative;
        align-items: flex-start;

        .list_circle {
          width:        4px;
          margin-right: 12px;

          @media screen and (max-width: 768px) {
            width: 3px;
          }
          @media screen and (max-width: 374px) {
            margin-right: 9px;
          }
        }

        p {
          font-family:   'Montserrat500', sans-serif;
          font-style:    normal;
          font-size:     16px;
          line-height:   28.8px;
          color:         #000;
          margin-bottom: 0;

          @media screen and (max-width: 768px) {
            font-size:   14px;
            line-height: 26px;
          }
          @media screen and (max-width: 374px) {
            font-size:   12px;
            line-height: 24px;
          }

          span {
            font-family:    'Montserrat600', sans-serif;
            font-size:      18px;
            line-height:    30px;
            color:          #10A6F9;
            text-transform: none;

            @media screen and (max-width: 768px) {
              font-size:   15px;
              line-height: 28px;
            }
            @media screen and (max-width: 374px) {
              font-size:   14px;
              line-height: 24px;
            }
          }
        }
      }
    }
    ul li::marker {
      color: #000;
    }
    .detail_under_text {
      text-transform: none;
      font-family:    'Montserrat700', sans-serif;
      font-style:     normal;
      font-size:      16px;
      line-height:    28.8px;
      color:          #000;

      span {
        font-family: 'Montserrat500', sans-serif;
      }

      @media screen and (max-width: 768px) {
        font-size:   13px;
        line-height: 25px;
        margin-top:  20px;
      }
      @media screen and (max-width: 374px) {
        font-size:   12px;
        line-height: 21px;
      }
    }
  }

  .wrapper_popup_image {
    width:                 100%;
    height:                100%;
    display:               grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:              15px;

    @media screen and (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .popup_image {
      width:         100%;
      height:        100%;
      object-fit:    cover;
      border-radius: 10px;

      @media screen and (max-width: 425px) {
        height: auto;
      }
    }


  }

}
