@import "../../styles/colors.scss";

.wrapper {
  margin-top: 3vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .information {
    text-align: center;
    color: $blue;
    margin: 2vh auto 4vh auto;
    font-size: 1.6vh;
  }
}

.successTitle {
  font-size: 1.5em;
  font-family: "Montserrat400";
  text-align: center;
  color: $blue;
  margin-top: 3vh;
}
