.aboutUs_container {
  background-color: #0f1d2b;
  display: flex;
  flex-direction: column;
  padding: 5vw 15vw;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1024px) {
    padding: 6vw 12vw;
  }

  @media screen and (max-width: 610px) {
    padding: 10vw 9vw;
  }

  @media screen and (max-width: 500px) {
    padding: 10vw 4vw;
  }

  @media screen and (max-width: 375px) {
    padding: 10vw 4vw;
  }

  .aboutUs_title {
    font-family: 'Montserrat700';
    font-size: 3.5vw;
    line-height: 130.2%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;

    span {
      padding: 3px 13px;
      color: #0F1D2B;
      background-color: #FFBC15;
    }
  }

  .aboutUs_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .aboutUs_block {
      margin-top: 50px;
      width: 30%;

      .aboutUs_block_img {
        width: 100%;
        overflow: hidden;
        border-radius: 12px;

        img {
          width: 100%;
          transition: all .3s ease;

          &:hover {
            cursor: pointer;
            transition: all .3s ease;
            transform: scale(1.1);
          }

        }
      }

      .aboutUs_block_h2 {
        font-family: 'Montserrat700';
        font-size: 2vw;
        line-height: 130.2%;
        margin: 1vw 0;
        color: #FFFFFF;
      }

      .aboutUs_block_p {
        font-family: 'Montserrat400';
        font-size: 1vw;
        line-height: 160%;
        color: #FFFFFF;
        opacity: 0.7;
      }
    }
  }

}