.accordion {
   background-color: #10a6f9;
   font-family: "Montserrat600";
   color: #fff;
   cursor: pointer;
   padding: 12px 17px;
   width: 100%;
   position: relative;
   text-align: left;
   border: none;
   outline: none;
   border-radius: 12px;

   .imgArrow{
      position: absolute;
      right: 20px;
      top: 30%;
      width: 20px;
   }
}
 
.active, .accordion:hover {
   background-color: #37b6fa;
}
.active{
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}
 
.panel {
   font-family: "Montserrat500";
   padding: 12px 20px;
   background-color: #fff;
   border: 1.5px solid #10a6f9;
   overflow: hidden;
   max-height: 0;
   display: none;
   transition: all 0.4s ease;
   margin: 0;

   p{
      margin-bottom: 0;
      color: #000;
      font-size: 14px;

      &.fat{
         font-size: 16px;
         font-family: "Montserrat600";
      }

      input, button{
         border: none;
         font-family: "Montserrat500";
         background-color: unset;
         padding: 0;
      }

      button{
         display: flex;
         align-items: flex-start;
       text-align: start;

         .imgCopy{
            width: 12px;
            margin-left: 6px;
            opacity: .6;
            margin-top: 4px;
         }
      }
   }
}

.activePanel{
   transition: all 0.4s ease;
   display: block;
   max-height: 100%;
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
}