.ourPartners_container{
   padding: 1vw 0 7vw;

   @media screen and(max-width: 1024px){
      padding: 5vw 0 10vw;
   }

   .ourPartners_title{
      width: 100%;
      margin: 4vw 0 5.5vw;
      font-family: 'Montserrat800';
      font-style: normal;
      font-size: 60px;
      line-height: 73px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;

      @media screen and(max-width: 1200px){
         font-size: 55px;
      }
      @media screen and(max-width: 1024px){
         font-size: 50px;
      }
      @media screen and(max-width: 900px){
         font-size: 43px;
         margin: 2vw 0 5.5vw;
      }
      @media screen and(max-width: 768px){
         font-size: 36px;
         margin: 2vw 0 4.5vw;
      }
      @media screen and(max-width: 600px){
         font-size: 34px;
         margin: 2vw 0 4vw;
      }
      @media screen and(max-width: 375px){
         font-size: 26px;
         margin: 2vw 0 3.5vw;
      }
   }
      .ourPartners_slider{
         opacity: .6;

         .image_wrapp{
            .image{
               height: 6vw;
               margin: 0 4vw;

               @media screen and(max-width: 1024px){
                  height: 5.5vw;
               }
               @media screen and(max-width: 600px){
                  height: 13vw;
                  margin: 0 3vw;
               }
            }
         }
      }
   
}