
   .button-yellow{
      font-family: 'Montserrat700';
      position: relative;
      cursor: pointer;
      padding: 1rem 2.5rem;
      height: auto;
      width: auto;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      color: #000;
      display: flex;
      background: #FFBC15;
      justify-content: center;
      align-items: center;
      border: 2px solid #FFBC15;
      box-sizing: border-box;
      border-radius: 16px;
      box-shadow: 0px 5px 40px #ffbc154d;
      transition: all 400ms ease;
      text-align: center;

      @media screen and (max-width: 1200px){
         padding: 0.6rem 1.9rem;
         font-size: 16px;
      }
      @media screen and(max-width: 1024px){
         padding: .5rem 1.6rem;
         font-size: 15px;
         border: 1.5px solid #FFBC15;
      }
      @media screen and(max-width: 900px){
         padding: 0.4rem 1.5rem;
         font-size: 14px;
      }
      @media screen and(max-width: 600px){
         padding: 0.8rem 1rem;
         font-size: 16px;
         line-height: 20px;
      }
      @media screen and(max-width: 374px){
         padding: 0.6rem .8rem;
         font-size: 15px;
         line-height: 18px;
      }


      &:after{
         border-radius: 13px;
         position: absolute;
         content: '';
         width: 0%; height: 100%;
         background: #10A6F9;
         top: 0;  left: auto; right: 0;
         z-index: -1;
         transition: all 400ms linear;
      }

      &:hover{
         border: 2px solid #10A6F9;
         transform: scale(1.05);
         color: #fff; 
         
         &:after{
            border-radius: 13px;
            position: absolute;
            content: '';
            width: 100%; height: 100%;
            background: #10A6F9;
            top: 0;  left: 0; right: 0;
            z-index: -1;
            transition: all 400ms ease;
         }
      }
   }