.warning {
  border: 4px solid #ff0000;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 2vw 4vw;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1350px){
    padding: 2vw 3vw;
  }
  @media screen and (max-width: 1024px){
    border: 2px solid #ff0000;
  }
  @media screen and (max-width: 768px){
    border: 1.5px solid #ff0000;
    padding: 15px 13px;
  }
  @media screen and (max-width: 425px){
    border: 1px solid #ff0000;
  }
  img{
    @media screen and (max-width: 1024px){
      width: 5%;
    }
    @media screen and (max-width: 768px){
      display: none;
    }
  }

  span {
    font-family: 'Montserrat400';
    font-style: normal;
    font-size: 18px;
    line-height: 163.9%;
    color: #ffffff;
    margin-left: 2vw;

    @media screen and (max-width: 1350px){
      font-size: 16px;
      line-height: 153%;
    }
    @media screen and (max-width: 1024px){
      font-size: 14px;
      line-height: 145%;
    }
    @media screen and (max-width: 768px){
      font-size: 14px;
      line-height: 145%;
    }
    @media screen and (max-width: 600px){
      font-size: 14px;
      line-height: 160%;
    }
  }
}
